.topnav {
    z-index: 1;
    top: 0;
    left: 0;
    width:100%;
    min-width: 650px;
    background-color: #333;
    overflow: hidden;

}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    vertical-align: baseline;
}

@media screen and (max-width: 600px) {
    table thead {
      display: none;
    }
    table td {
      display: flex;
    }

    table td::before {
      content: attr(label);
      font-weight: bold;
      width: 120px;
      min-width: 120px;
    }
}

.topnav, .navlink {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav, .navlink:hover {
    background-color: #3d3434;
    color: white;
}


.topnav, .navlink.active {
    background-color: #3d3434;
    color: white;
}
