#link {
    left: auto;
    right: auto;
    width: 570px;
    resize: none;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    height:200%;
    margin-top: 50px;
    min-height: 600px;
    border: 1px solid black;
}

#debridDiv {
    display: block;

}