<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/torrents.css"/>
    <!-- jQuery Modal -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css}"/>

    <title th:text="Torrent"></title>


</head>
<body>



<div>
    <div class="topnav">
        <a class="active navlink" th:href="@{/}">Home</a>
        <a class="navlink" href="#settings">Settings</a>
        <a class="navlink" id="error_connection" style="color:red"></a>
    </div>

    <div id="container">
        <label for="torrentFile">Update file</label>
        <input type="file" id="torrentFile" accept=".torrent" multiple/>
        <br/>
        <input onclick="uploadFile()" type="button" value="Convert"/>
    </div>
    <table id="tableTorrent">
        <thead>
        <tr>
            <th width="60%" class="tdtop"><strong>Filename</strong></th>
            <th width="10%" class="tdtop">Status</th>
            <th width="6%" class="tdtop">Seeders</th>
            <th width="9%" class="tdtop">Speed</th>
            <th><img onclick="deleteTorrents()"  style="width: 24px; height: 24px; cursor: pointer;" src="/img/delete.png"/></th>
        </tr>
        </thead>
        <tbody id="tbodyTorrent" class="section section-step">

        </tbody>
    </table>
</div>


</body>

<script type="text/javascript" src="/js/torrents.js"></script>
</html>