<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script type="module" src="milsymbol-2.0.0/src/milsymbol.js"></script>
    <!-- jQuery Modal -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css}"/>
    <title th:text="Torrent"></title>

    <style>
        #customFile .custom-file-input:lang(en)::after {
            content: "Select file...";
        }

        #customFile .custom-file-input:lang(en)::before {
            content: "Click me";
        }

        /*when a value is selected, this class removes the content */
        .custom-file-input.selected:lang(en)::after {
            content: "" !important;
        }

        .custom-file {
            overflow: hidden;
        }
        .custom-file-input {
            white-space: nowrap;
        }
    </style>
</head>
    <body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">RDTHelper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
                    <a class="nav-link active" th:href="@{/torrents}">Torrents</a>
                    <a class="nav-link disabled" id="error_connection" style="color:red"></a>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </nav>

    <div class="container py-3">
        <div class="w-25  mx-auto w-auto input-group">
            <label for="torrentFile" class="form-label">Default file input example</label>
            <input id="torrentFile" accept=".torrent" class="form-control" type="file" multiple>
            <button onclick="uploadFile()" class="btn btn-outline-secondary" type="button" id="myInput">Convert</button>
        </div>
    </div>


    <table class="table w-75 table-dark table-sm mx-auto w-auto" id="tableTorrent">
        <thead>
        <tr>
            <th scope="col" width="60%" class="tdtop"><strong>Filename</strong></th>
            <th scope="col" width="10%" class="tdtop">Status</th>
            <th scope="col" width="6%" class="tdtop">Seeders</th>
            <th scope="col" width="9%" class="tdtop">Speed</th>
            <th scope="col"><img onclick="deleteTorrents()"  style="width: 24px; height: 24px; cursor: pointer;" src="/img/delete.png"/></th>
        </tr>
        </thead>
        <tbody id="tbodyTorrent" class="section section-step">
        </tbody>
    </table>

    </body>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
            <div class="toast-header">
                <strong class="me-auto">Error</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toast-body">

            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/torrents.js"></script>
</html>